@model Pocherajme.ViewModels.UserProfilVM

@{
    ViewData["Title"] = "Profil";
}

<hr class="">
@if (Model.User.City == null)
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>UPOZORENJE!</h4>
        <p>Vaš profil je nedovršen. Molimo da nadopunite sve bitne informacije na linku: <a href="/User/Edit" class="alert-link"> Doradi profil</a></p>
    </div>
}

<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="">@Model.User.FirstName @Model.User.LastName</h1>
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                @if (!String.IsNullOrEmpty(Model.User.PhoneNumber))
                {
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Broj telefona </strong></span>@Model.User.PhoneNumber</li>
                }
                else
                {
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Broj telefona </strong></span> N/A</li>
                }
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email </strong></span> <a href="mailto:@Model.User.Email">@Model.User.Email</a></li>
                @if (Model.User.City != null)
                {
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Grad </strong></span> @Model.User.City.Name</li>
                }
                else
                {
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Grad </strong></span> N/A</li>
                }
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ovjeren
                </div>
                <div class="panel-body">
                    @if (Model.User.EmailConfirmed)
                    {
                        <span>

                            <i style="color:green" class="fa fa-check-square"></i> Korisnik je ovjerio svoj nalog.
                        </span>
                    }
                    else
                    {
                        <span>

                            <i style="color:green" class="fa fa-cross"></i>Korisnik nije ovjerio svoj nalog.
                        </span>

                    }

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ocjena <i class="fa fa-link fa-1x"></i>
                </div>
                <div class="panel-body">
                    @Model.Ocjena
                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">Aplicirane voŽnje</div>
                @if (Model.Aplicirani.Count == 0)
                {
                    <h1 style="text-align:center;">Trenutno nema prevoza</h1>
                }
                else
                {
                    <div style="padding:5%;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Naslov</th>
                                    <th scope="col">Polazište</th>
                                    <th scope="col">Odredište</th>
                                    <th scope="col">Vrijeme polaska</th>
                                    <th scope="col">Akcije</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Aplicirani)
                                {
                                    <tr>
                                        <th scope="row">@item.Title</th>
                                        <td>@item.From</td>
                                        <td>@item.To</td>
                                        <td>@item.DateTimeOfDeparture.ToString("dd.MM.yyyy. H:mm")</td>
                                        <td><a href="/Post/ShowPost/@item.PostID" class="btn btn-default">Pregled</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Ponude</div>
                @if (Model.Ponude.Count == 0)
                {
                    <h1 style="text-align:center;">Trenutno nema prevoza</h1>
                }
                else
                {
                    <div style="padding:5%;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Naslov</th>
                                    <th scope="col">Polazište</th>
                                    <th scope="col">Odredište</th>
                                    <th scope="col">Vrijeme polaska</th>
                                    <th scope="col">Akcije</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Ponude)
                                {
                                    <tr>
                                        <th scope="row">@item.Title</th>
                                        <td>@item.From</td>
                                        <td>@item.To</td>
                                        <td>@item.DateTimeOfDeparture.ToString("dd.MM.yyyy. H:mm")</td>
                                        <td><a href="/Post/ShowPost/@item.PostID" class="btn btn-default">Pregled</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>



            <div class="col-sm-9" style="" contenteditable="false">
                <div class="panel panel-default">
                    <div class="panel-heading">Potražnje</div>
                    @if (Model.Potraznje.Count == 0)
                    {
                        <h1 style="text-align:center;">Trenutno nema potražnji</h1>
                    }
                    else
                    {
                        <div style="padding:5%;">
                            <table class="table" style="padding:2%;">
                                <thead>
                                    <tr>
                                        <th scope="col">Naslov</th>
                                        <th scope="col">Polazište</th>
                                        <th scope="col">Odredište</th>
                                        <th scope="col">Vrijeme polaska</th>
                                        <th scope="col">Akcije</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Ponude)
                                    {
                                        <tr>
                                            <th scope="row">@item.Title</th>
                                            <td>@item.From</td>
                                            <td>@item.To</td>
                                            <td>@item.DateTimeOfDeparture.ToString("dd.MM.yyyy. H:mm")</td>
                                            <td><a href="/Post/ShowPost/@item.PostID" class="btn btn-default">Pregled</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

