@using Pocherajme.Models
@{
    ViewData["Title"] = "Add Post";
    int potraznja = int.Parse(ViewData["Potraznja"].ToString());
    string link;
    if (potraznja == 1) {
        link = "/Post/SavePotraznja/";
    }
    else {
        link = "/Post/SavePonuda/";
    }

}
<style>
    #header{
        position: relative;
    }
</style>
@model List<TransportType>
<div class="container" style="text-align:center;padding: 60px 25% 30px 25%;">

    @if (potraznja == 1)
    {
        <h2 style="margin:20px auto">Nova potražnja</h2>
    }
    else
    {
        <h2 style="margin:20px auto">Nova ponuda</h2>
    }
    <div class="form-group" style="">

        <form action="@link" method="post">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Naziv</label>
                <input class="form-control" type="text" name="title" placeholder="Jutranje putovanje" /><br />
            </div>
            <div class="form-group">
                <label>Opis</label>
                <textarea class="form-control" name="description" placeholder="Putovanje prema sarajevu sa novi autom..."></textarea><br />
            </div>
            <div class="form-group">
                <label>Destinacija</label>
                <input class="form-control" type="text" name="to" placeholder="Sarajevo" /><br />
            </div>
            <div class="form-group">
                <label>Polazak</label>
                <input class="form-control" type="text" name="from" placeholder="Mostar" /><br />
            </div>
            <div class="form-group">
                <label>Datum polaska</label>
                <input class="form-control" type="date" value="@DateTime.Now" name="DateOfDeparture" /><br />
            </div>
            <div class="form-group">
                <label>Vrijeme polaska</label>
                <input class="form-control" value="@DateTime.Now" type="time" name="TimeOfDeparture" /><br />
            </div>
            <div class="form-group">
                <label>Maksimalan broj putnika</label>
                <input class="form-control" type="number" name="MaxPassengers" placeholder="5" /><br />
            </div>
            <div class="form-group">
                <label>Cijena</label>
                <input class="form-control" type="number" name="price" step="0.01" placeholder="200.50" /><br />
            </div>
            <div class="form-group">
                <label>Predpostavljeno trajanje putovanja (h)</label>
                <input class="form-control" type="number" name="ETA" placeholder="4" /><br />
            </div>
            <div class="form-group">
                <label>Prevozno sredstvo</label>
                <input class="form-control" type="text" name="car" placeholder="Audi RS1" /><br />
            </div>
            <div class="form-group">
                <label>Tip prevoza</label>
                <select class="form-control" name="TransportType">
                    <option disabled> Odaberite</option>
                    @foreach (TransportType t in Model)
                    {
                        <option value="@t.TransportTypeID"> @t.Type </option>
                    }

                </select><br />
            </div>
            <input type="submit" class="btn btn-primary" value="Pohrani" />

        </form>
    </div>
</div>
