
@{
    ViewData["Title"] = "PostsByType";

}
@model List<Pocherajme.Models.Post>
<div class="container" style="text-align:center;padding: 30px 25% 30px 25%;">
    @if (Model.Count == 0)
    {
        <h1>Trenutno nema prevoza</h1>
    }
    else
    {

        <h2>Prijavi oglas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Naslov</th>
                    <th scope="col">OD</th>
                    <th scope="col">DO</th>
                    <th scope="col">Vrijeme polaska</th>
                    <th scope="col">Akcije</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Title</th>
                        <td>@item.From</td>
                        <td>@item.To</td>
                        <td>@item.DateTimeOfDeparture.ToString("dd.MM.yyyy. hh:ii")</td>

                        <form method="post" action="/Post/Apply/@item.PostID">
                            @Html.AntiForgeryToken()
                            <td><input type="submit" class="btn btn-default" value="Prijavi" /></td>
                        </form>

                        <td><a href="/Post/ShowPost/@item.PostID" class="btn btn-default">Pregled</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
